.navlink.active {
    font-family: Helvetica;
}

.inner.cover {
    font-family: Helvetica;
}

.mastfoot.mt-auto {
    font-family: Helvetica;
}


h1, h2 {
    color:#ffffff
}

img {
    border-radius: 50%;
  }

body {
    background-color: rgba(0, 0, 128,0.6)
}