.navlink.active {
    font-family: sans-serif;
}

.inner.cover {
    font-family: sans-serif;
}

.mastfoot.mt-auto {
    font-family: sans-serif;
}

body {
    background: #DCDCDC;
}

h1, h2 {
    color:#ffffff
}

img {
    border-radius: 50%;
  }